<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
		th:replace="~{base::Layout( ~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emp Save Form</title>
</head>
<body>
	<section>		
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card-header text-center">
					<p class="fs-4">Edit Emp Page</p>
					<th:block th:if="${session.msg}">
						<p class="text-center text-success fs-4">[[${session.msg}]]</p>
						<th:block th:text="${@empServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<form action="/updateEmp" method="post">
						<input type="hidden" name="id" th:value="${emp.id}">
					  <div class="mb-3">
					    <label for="exampleInputEmail1" class="form-label">Full Name</label>
					    <input type="text" class="form-control" name="name" th:value="${emp.name}">
					  </div>
					  
					  <div class="mb-3">
					  	<label for="exampleInputEmail1" class="form-label">Email address</label>
					  	<input type="email" class="form-control" name="email" th:value="${emp.email}">
					  </div>
					  
					  <div class="mb-3">
					  	<label for="exampleInputEmail1" class="form-label">Address</label>
					  	<input type="text" class="form-control" name="address" th:value="${emp.address}">
					 </div>
					 
					 <div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Gender</label>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" name="gender"
						  th:attrappend="checked=${emp.gender=='Male' ? 'checked':''}"
						   id="inlineCheckbox1" value="Male">
						  <label class="form-check-label" for="inlineCheckbox1">Male</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" name="gender" 
						  th:attrappend="checked=${emp.gender=='Female' ? 'checked':''}"
						  id="inlineCheckbox2" value="Female">
						  <label class="form-check-label" for="inlineCheckbox2">Female</label>
						</div>
					 </div>
					  
					  <div class="mb-3">
					    <label for="exampleInputPassword1" class="form-label">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" name="password" th:value="${emp.password}">
					  </div>
					  
					  <button type="submit" class="btn btn-primary">Update</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</section>	
</body>
</html>